include LICENSE.txt
include README.rst
recursive-include aldryn_newsblog/locale *
recursive-include aldryn_newsblog/static *
recursive-include aldryn_newsblog/templates *
recursive-include aldryn_newsblog/boilerplates *
recursive-exclude * *.py[co]
