djangocms-helper
django>=1.6,<1.7
South
dj-database-url
django-classy-tags
-e git+http://github.com/yakky/django-cms/@feature/appspaced_apphooks#egg=django-cms
django-mptt
django-sekizai
djangocms-admin-style
docopt
html5lib
pyflakes
six
django-parler
selenium
djangocms_text_ckeditor
flake8
django-filer
aldryn-common
django-appdata
aldryn-people
django-reversion>=1.8.2,<1.9
-e git+http://github.com/aldryn/aldryn-apphooks-config.git#egg=aldryn-apphooks-config
django-treebeard>=2.0
-e git+http://github.com/aldryn/aldryn-categories.git#egg=aldryn-categories

