-e .
djangocms-helper
django>=1.6,<1.7
South
dj-database-url
django-classy-tags
django-cms
django-mptt
django-sekizai
djangocms-admin-style
docopt
html5lib
pyflakes
six
django-parler
selenium
djangocms_text_ckeditor
flake8
