{% load i18n %}

{% if page_obj.has_previous %}
    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
    {% if num %}
        {% if page_obj.number == num %}
            {{ num }}
        {% else %}
            <a href="{{ request.path }}?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}

{% if page_obj.has_next %}
    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
{% endif %}
