{% load i18n cms_tags thumbnail %}{# aldryn_blog_tags #}
{% load url from future %}

<article>
    {% block blog_headline %}
        <h3> {{ article.name }}
            {% if not detail_view %}
                <a href="{{ article.get_absolute_url }}">{% render_model article "title" %}</a>
            {% else %}
                {% render_model article "title" %}
            {% endif %}
        </h3>
    {% endblock %}

    {% block blog_meta %}
        <div class="aldryn-blog-meta">
            <span class="icon icon-pencil"></span>
            {% trans "by" %} <a href="#TODO">{{ article.author }}</a>
            &nbsp;
            {% with article.categories.all as categories %}
                {% if categories %}
                    <span class="icon icon-book"></span>
                    {% for category in article.categories.all %}
                        <a href="#TODO">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    &nbsp;
                {% endif %}
            {% endwith %}
            {% with article.tags.all as tags %}
                {% if tags %}
                    <span class="icon icon-bookmark"></span>
                    {% for tag in tags %}
                        <a href="#TODO">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    &nbsp;
                {% endif %}
            {% endwith %}
            <span class="icon icon-clock-o"></span> {{ article.publishing_date|date }}
        </div>
        <hr />
    {% endblock %}

    {% block blog_visual %}
        {% if article.featured_image_id %}
            <p>
                {% if not detail_view %}<a href="{{ article.get_absolute_url }}">{% endif %}
                    <img src="{% thumbnail article.featured_image.image 800x300 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}" class="img-responsive" />
                {% if not detail_view %}</a>{% endif %}
            </p>
            <hr />
        {% endif %}
    {% endblock %}

    {% block blog_placeholder %}
        <div class="lead">{#% render_model post "lead_in" "lead_in" "" safe %#}</div>
        {% if detail_view %}
            {% render_placeholder article.content language placeholder_language %}
        {% endif %}
    {% endblock %}

    {% if detail_view %}
        <ul class="pager">
            <li class="previous"><a href="#TODO"><span aria-hidden="true">&larr;</span> {% trans "Back" %}</a></li>
        </ul>
    {% else %}
        <p class="text-right"><a href="{{ article.get_absolute_url }}">{% trans "read more" %}</a></p>
        <hr />
    {% endif %}
</article>
