{% load i18n %}

<div class="aldryn-newsblog-meta">
    <div class="image">
        <img src="" alt="">
    </div>
    <div class="meta">
        <div class="author"><a href="#TODO">{{ article.author }}</a></div>
        <div class="date">{{ article.publishing_date|date }}</div>
    </div>
    <div class="comments">
        {# INFO: we need to set the correct singular form #}
        {% if comments.length == 1 %}
            1 {% trans "Comment" %}
        {% else %}
            2 {% trans "Comments" %}
        {% endif %}
    </div>
</div>
