-f http://simple.crate.io/
MarkupSafe==0.23
Pygments==2.0.2
Sphinx==1.3.1
aldryn-newsblog

sphinx-autobuild==0.5.2
sphinx_rtd_theme # always use latest version of the theme
sphinxcontrib-spelling
pyenchant